body, html {
	margin: 0;
	font: 16px "Lato", sans-serif;
	color: #777;
	height: 100%;

}

.conteudo {
	color: #777;
	text-align: justify;
	padding: 50px 80px;
}
h3 {
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

/* efeito paralax */
.caixa1, .caixa2, .caixa3, .caixa4, .caixa5, .caixa6 {
	position: relative;
	height: 100%;
	opacity: 0.7;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.caixa1 {
	background-image: url(imagem1.jpg);
}
.caixa2 {
	background-image: url(imagem2.jpg);
}
.caixa3 {
	background-image: url(imagem3.jpg);
}
.caixa4 {
	background-image: url(imagem4.jpg);
}
.caixa5 {
	background-image: url(imagem5.jpg);
}
.caixa6 {
	background-image: url(imagem6.jpg);
}
p {
	margin-bottom: 20px;
}
.conteudo-titulo {
	position: absolute;
	left: 0%;
	top: 45%;
	width: 100%;
	text-align: center;
}
.conteudo-titulo span.titulo {
	color: #fff;
	background-color: #111;
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
}